body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Segoe UI', HiraginoCustom, 'Hiragino Kaku Gothic ProN', YuGothic, 'Yu Gothic Medium', Meiryo, sans-serif; }

a {
  word-break: break-all; }

ul, li {
  padding: 0;
  margin: 0;
  list-style: none; }

.inner {
  max-width: 1120px;
  margin: 0 auto; }

.wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 700px;
  margin: 0 auto; }

h2 {
  padding: 16px;
  color: white;
  margin: 0;
  font-size: 22px;
  text-align: center; }

header {
  font-size: 36px;
  padding: 16px;
  text-align: center; }

.badui-header {
  font-family: 'Bungee', cursive; }

.badui-title {
  background: #3caef1; }

.itex-header {
  font-size: 36px;
  padding: 16px;
  text-align: center; }

.itex-title {
  background: #d95a5e; }

.itex p {
  padding: 8px 16px; }

.youtube {
  position: relative;
  width: 100%;
  padding-top: 56.25%; }
  .youtube iframe, .youtube video {
    position: absolute;
    top: 0;
    right: 0;
    width: 100% !important;
    height: 100% !important; }

hr {
  width: 100%;
  margin: 20px 0;
  border: 1px solid #aaa; }

.movie-caption {
  white-space: pre-wrap;
  font-size: 13px;
  padding: 0 16px;
  margin-bottom: 20px; }

.movie-list {
  display: flex;
  margin-bottom: 60px;
  margin: 0 -16px -16px 0;
  flex-wrap: wrap; }
  .movie-list__item {
    width: calc(50% - 16px);
    padding: 0 16px 16px 0; }
