body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Segoe UI', HiraginoCustom, 'Hiragino Kaku Gothic ProN', YuGothic, 'Yu Gothic Medium', Meiryo, sans-serif; }

.header {
  font-family: 'Bungee', cursive;
  font-size: 36px;
  padding: 16px;
  text-align: center; }

.inner {
  max-width: 1120px;
  margin: 0 auto; }

h2 {
  padding: 16px;
  background: #3caef1;
  color: white;
  margin: 0;
  font-size: 22px;
  text-align: center; }

.wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 700px;
  margin: 0 auto; }
